# Compiler files
cache/
out/

# Audit and x-ray
audit/
x-ray/
AUDIT_PREP.md
VULNS.md

# Ignores all broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env

# IDE files
.vscode

# Obsidian files
.obsidian

# Wake files
.wake

# MacOS files
.DS_Store